.panel {
	height: 300px;
    background-color: #fff;
    margin-bottom: 30px;
}

.numbers-display {
	display: block;
	height: 45px;
	width: 85%;
	float: right;
    text-align: right;
    padding: 20px;
    font-size: 40px;
    color: #a9a9a9;
}

.operation-display {
    height: 45px;
    width: 5%;
    float: left;
    text-align: center;
    padding: 20px 0 20px 20px;
    font-size: 40px;
    color: #9d9b9f;
}

.panel-list {
	height: 140px;
    background-color: #fff;
}

.numbers-display-list {
	display: block;
	height: 25px;
	width: 85%;
	float: right;
    text-align: right;
    padding: 10px 20px;
    font-size: 20px;
    color: #a9a9a9;
}

.operation-display-list {
    height: 25px;
    width: 5%;
    float: left;
    text-align: center;
    padding: 10px 0 10px 10px;
    font-size: 20px;
    color: #9d9b9f;
}

#historyList .md-button, #historyList .md-list-item-inner {
	padding: 0 !important;
}

#historyList .md-list-item-text {
	width: 100%;
}

.empty-list {
	text-align: center;
	color: #929292;
}

.clear-both {
	clear: both;
}

.calc-button {
	background-color: #d7cdcd;
	color: #FFF;
	font-size: 40px;
	cursor: pointer;
}

.calc-button.operation {
	background-color: #d392ff;
}

.calc-button.action, .md-toolbar-tools {
	background-color: #a149db !important;
}

.calc-button.clear {
	background-color: #f62e2e;
}

p {
	margin: 0 !important;
}